process {
    executor='lsf'
    queue='production-rh74'
    clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'
}

executor {
    queueSize=1000
    perJobMemLimit=true
    pollInterval = '5sec'

    lsf {
        submitRateLimit = '1 / 15 s' 
    }
}

conda {
    cacheDir = "$PWD/envs"
    createTimeout = "30 min"
}

env {
    NXF_CONDA_CACHEDIR = "$PWD/envs"
    NXF_ORG = 'ebi-gene-expression-group'
    NXF_ASSETS = "$PWD/workflows"

    SCXA_CONF="$PWD/conf"
    SCXA_PRE_CONF="${baseDir}/conf"
    SCXA_BIN="${baseDir}/bin"
    SCXA_RESULTS="$PWD/results"
    SCXA_DATA="$PWD/data"
    SCXA_WORK="$PWD/work"
    SCXA_WORKFLOW_ROOT="$PWD"
    SCXA_NEXTFLOW="$PWD/nextflow"
    NXF_TEMP="$PWD/tmp"
    TMPDIR="$PWD/tmp"    

    SCXA_REPORT_EMAIL='jmanning@ebi.ac.uk'
    PATH = "$PWD/software/common:\$PATH"            
}

params {
    maxConcurrentQuantifications = 5
    numExpsProcessedAtOnce = 20
    numExpsConsidered = 20
}

// Analytical Params mostly separated so child workflows can also load them
// without resetting the global Nextflow variables above

includeConfig "${baseDir}/params.config"
