env {
    NXF_CONDA_CACHEDIR = 'envs'
    NXF_ORG = 'ebi-gene-expression-group'
    NXF_ASSETS = 'workflows'

    WORKFLOW_RESULTS_DIR = "${baseDir}/results"
    SCXA_CONF="$PWD/conf"
    SCXA_PRE_CONF="${baseDir}/conf"
    SCXA_BIN="${baseDir}/bin"
    
    //SCXA_DATA=$SCXA_WORKFLOW_DIR/data
    //SCXA_RESULTS=$/results
    //SCXA_REPORT_EMAIL=jmanning@ebi.ac.uk
    //SCXA_SDRF_DIR=/nfs/production3/ma/home/jmanning/projects/scxa_worflows
    //NXF_TEMP=$SCXA_WORKFLOW_DIR/tmp
}
