process {
    executor='lsf'
    queue='$SCXA_LSF_QUEUE'
    clusterOptions='$SCXA_LSF_OPTIONS'
}

executor {
    queueSize=1000
    perJobMemLimit=true
    pollInterval = '5sec'

    lsf {
        submitRateLimit = '1 / 15 s' 
    }
}

conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
}

env {
    NXF_CONDA_CACHEDIR = "$SCXA_WORKFLOW_ROOT/envs"
    NXF_ORG = 'ebi-gene-expression-group'
    NXF_ASSETS = "$SCXA_WORKFLOW_ROOT/workflows"

    SCXA_ENV="$SCXA_ENV"
    SCXA_WORKFLOW_ROOT="$SCXA_WORKFLOW_ROOT"
    SCXA_LSF_QUEUE="$SCXA_LSF_QUEUE"
    SCXA_LSF_OPTIONS="$SCXA_LSF_OPTIONS"
    SCXA_CONF="$SCXA_WORKFLOW_ROOT/conf"
    SCXA_PRE_CONF="${baseDir}/conf"
    SCXA_BIN="${baseDir}/bin"
    SCXA_RESULTS="$SCXA_WORKFLOW_ROOT/results"
    SCXA_DATA="$SCXA_WORKFLOW_ROOT/data"
    SCXA_WORK="$SCXA_WORKFLOW_ROOT/work"
    SCXA_NEXTFLOW="$SCXA_WORKFLOW_ROOT/nextflow"
    NXF_TEMP="$SCXA_WORKFLOW_ROOT/tmp"
    TMPDIR="$SCXA_WORKFLOW_ROOT/tmp"    
    SCXA_HTML_DIR="$SCXA_HTML_DIR"    

    SCXA_REPORT_EMAIL='jmanning@ebi.ac.uk'
    PATH = "$SCXA_WORKFLOW_ROOT/software/common:\$PATH"            
}

params {
    maxConcurrentQuantifications = 5
    numExpsProcessedAtOnce = 10
    maxConcurrentScanpyGalaxy = 10
}

// Analytical Params mostly separated so child workflows can also load them
// without resetting the global Nextflow variables above

includeConfig "${baseDir}/params.config"
