params {
    
    downloadRetries = 3
    probeUpdateFreqMins = 15
    fetchFreqMillis = 2000
    allowedDownloadMethods = 'http ftp'
    tertiaryWorkflow = 'None'
    //teriaryWorkflow = 'scanpy-workflow'

    islReferenceType = 'newest'
    cellAnalysisFields = 'inferred cell type - ontology labels' 
}
