params {
    
    downloadRetries = 3
    probeUpdateFreqMins = 15
    fetchFreqMillis = 2000
    allowedDownloadMethods = 'http ftp'
    tertiaryWorkflow = 'None'
    //teriaryWorkflow = 'scanpy-workflow'

    islReferenceType = 'newest'

    // cellAnalysisFields are all the fields that will be used in tertiary
    // analysis. Right now this is limited to the field used for cell type
    // markers, but will likely be extended in future. This is the selection of
    // fields for which changes trigger tertiary re-analysis
    
    //cellAnalysisFields = 'inferred cell type - ontology labels' 
    cellAnalysisFields = 'inferred cell type,inferred cell type - ontology labels,inferred cell type - authors labels' 

    // The specific field used for cell type analysis- should be part of
    // cellAnalysisFields. The first of these that's found will be used
    cellTypeField = 'authors cell type - ontology labels,authors cell type,inferred cell type - ontology labels,inferred cell type - authors labels'

    // Biotypes and chromsomes for assignment of genes as mitochondrial

    mitoChr = 'mt,mitochondrion_genome,mito,m,chrM,chrMt'
    mitoBiotypes = 'mt_trna,mt_rrna,mt_trna_pseudogene,mt_dna'
}
